<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/addContact.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header>
        <select id="mode" onchange="choice(mode.value)">
            <option value="system" selected disabled>System</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
        <a class="btn" href="../addressBook">Back</a>
    </header>
    <h2>Enter Your Details</h2>
    <div class="add">
        <form action="{% url 'addContactsubmit' %}" method="post">
            {% csrf_token %}
            <div class="name">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required>

                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required>
            </div>
            <div>
                <label for="email_address">Email:</label>
                <input type="email" id="email_address" name="email_address">
                </div>
            <div>
                <label for="email">Phone Number:</label>
                <input type="number" id="email" name="email">
            </div>
            <div>
                <label for="postcode">Postcode:</label>
                <input type="text" id="postcode" name="postcode">
            </div>
            <div>
                <label>Tags (comma-separated):</label>
                <input type="text" name="tags" value="{% for tag in contact.tags.all %}{{ tag.name }}, {% endfor %}">                
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>