<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddressBook</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/addressBook.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header>
        <select id="mode" onchange="choice(mode.value)">
            <option value="system" selected disabled>System 🖥️</option>
            <option value="light">Light ☀️</option>
            <option value="dark">Dark 🌙</option>
        </select>
        <a class="btn settings" href="../settings">Settings</a>
        <a class="btn logout" href="../logout">Logout</a>
    </header>
    <div class="container">
        <h1> Contacts</h1>

        <form class="sort" method="GET">
            <label for="sort">Sort By:</label>
            <select name="sort" id="sort">
                <option value="first_name" {% if sort_by == "first_name" %}selected{% endif %}>First Name</option>
                <option value="last_name" {% if sort_by == "last_name" %}selected{% endif %}>Last Name</option>
                <option value="date_added" {% if sort_by == "date_added" %}selected{% endif %}>Date Added</option>
            </select>
            <label for="order">Order By:</label>
            <select name="order" id="order">
                <option value="asc" {% if order_by == "asc" %}selected{% endif %}>Ascending</option>
                <option value="desc" {% if order_by == "desc" %}selected{% endif %}>Descending</option>
            </select>

            <label for="search">Search:</label>
            <input type="text" name="search" id="search" placeholder="Enter name or email..." value="{{ search_query|default:'' }}">

            <label for="tags">Filter by Tags:</label>
            <select name="tags" id="tags" multiple>
                <option value="" {% if not selected_tags %}selected{% endif %}>Show All</option>
                {% for tag in all_tags %}
                    <option value="{{ tag.id }}" {% if tag.id|stringformat:"s" in selected_tags %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>

            <button type="submit">Sort</button>
        </form>

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Postcode</th>
                <th>Tags</th>
            </tr>
            {% for contact in mycontacts %}
                <tr>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.email_address }}</td>
                    <td>{{ contact.phone_number }}</td>
                    <td>{{ contact.postcode }}</td>
                    
                    <td>
                        {% for tag in contact.tags.all %}
                        <span class="tag" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                            </span>
                        {% endfor %}
                    </td>


                    <td>
                        <a id="update" href="{% url 'updateContact' id=contact.id %}" class="btn">
                            Update
                        </a>
                    </td>
                    <td>
                        <a id="delete" href="{% url 'deleteContact' id=contact.id %}" class="btn" onclick="return confirm('Are you sure?');">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a  href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Event+with+{{ contact.first_name }}+{{ contact.last_name }}" target="_blank" class="btn">
                            Add to Google Calendar
                        </a>
                    </td>
                    <td>
                        {% if contact.postcode %}
                            <a href="https://www.google.com/maps/place/{{ contact.postcode }}" target="_blank" class="btn">
                                View on Maps
                            </a>
                        {% endif %}
                    </td>
                </tr>
                        {% empty %}
                <tr>
                    <td colspan="5" style="text-align: center;">No contacts found.</td>
                </tr>
            {% endfor %}
        </table>

        <a id="add" href="{% url 'addContact' %}" class="'btn">Add</a>
    </div>
</body>
</html>
