<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<header>
    <select id="mode" onchange="choice(mode.value)">
            <option value="system" selected disabled>System 🖥️</option>
            <option value="light">Light ☀️</option>
            <option value="dark">Dark 🌙</option>
    </select>
</header>
<div class="card-container">
    <p>{{ error }}</p>
    <form name="login" method="post" action="/login/">
        <h2 style="text-align:center;">Login</h2>
        {% csrf_token %}
        {{ loginForm }}
        <button type="submit" name="reg"> Click to Login </button>
    </form>
    <a id="signup" href="/signup">Not got an account? Signup today :)</a>
</div>
</body>
</html>