<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<header>
    <button onclick="light()">Light</button>
    <button onclick="dark()">Dark</button>
</header>
<div>
    <form name="login" method="post" action="../loginuser/">
        <h2 style="text-align:center;">Login</h2>
        {% csrf_token %}
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" placeholder="Enter your Username">
        <label for="pwd">Password:</label>
        <input id="pwd" name="pwd" type="password" placeholder="Enter a password">
        <input type="submit" name="reg" value="Click to Login">
    </form>
    <a id="signup" href="/signup">Not got an account? Signup today :)</a>
</div>
</body>
</html>