<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<div>
<header>
    <select id="mode" onchange="choice(mode.value)">
        <option value="system" selected disabled>System 🖥️</option>
        <option value="light">Light ☀️</option>
        <option value="dark">Dark 🌙</option>
    </select>
</header>
    <div class="card-container">
    <form name="signup" method="post" action="/signup/">
        <h2 style="text-align:center;">Signup</h2>

            {% csrf_token %}
            {{ signUpForm }}

        <button type="submit">Click to Register</button>
    </form>
        <a id="login" href="/login">Got an account? Login here :)</a>
    </div>
</div>
</body>
</html>