<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/addContact.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header>
        <select id="mode" onchange="choice(mode.value)">
            <option value="system" selected disabled>System</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>
        <a class="btn" href="{% url 'addressBook' %}">Back</a>
    </header>
    <h2>Update Contact's Details</h2>
    <form action="{% url 'updateContactSubmit' id=contact.id %}" method="post">
        {% csrf_token %}

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ contact.first_name }}" required>
        <br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ contact.last_name }}" required>
        <br><br>

        <label for="email_address">Email:</label>
        <input type="email" id="email_address" name="email_address" value="{{ contact.email_address }}">
        <br><br>

        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ contact.phone_number }}">
        <br><br>

        <label for="postcode">Postcode:</label>
        <input type="text" id="postcode" name="postcode" value="{{ contact.postcode }}">
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
