:root {
  color-scheme: light dark;
  --light: #e0e0f0;
  --dark: #28283d;
}

.light {
    color-scheme: light;
}
.dark {
    color-scheme: dark;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: light-dark(var(--light), var(--dark));
    backdrop-filter: blur(10px);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
body {
    color: light-dark(var(--light), var(--dark));
    background-color: light-dark(var(--light), var(--dark));
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #ffffff;
}
form {
    color: light-dark(black, white);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

label {
    color: light-dark(black, white);
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-inputs {
    width: 100%);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
a, button {
    display: inline-block;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 30px;
    background: rgba(255, 71, 126, 0.9);
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}
a:hover, button:hover{
    background: rgba(255, 33, 86, 0.9);
    transform: translateY(-3px);
}

p {
    color: light-dark(black, white);
    margin: 10px auto;
}

.form-inputs {
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}